// font
$font: Roboto, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// colors
$white: #fff;
$black: #000;
$grey-100: #42474E;
$grey-60: #898C91;
$grey-40: #BABEC3;
$grey-20: #E1E2E3;
$grey-10: #F5F6F6;

$orange-100: #FF5722;
$orange-80: #FF7A50;

$blue-150: #4C829D;
$blue-100: #4FC3F7;
